# SFR AT file
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners
public net.minecraft.world.inventory.AbstractContainerMenu synchronizer
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity canBurn(Lnet/minecraft/core/RegistryAccess;Lnet/minecraft/world/item/crafting/RecipeHolder;Lnet/minecraft/world/item/crafting/SingleRecipeInput;Lnet/minecraft/core/NonNullList;I)Z # canBurn